body{
    background: whitesmoke;
}

.container{
    background:white;
}

.table {
    
    border: 1px solid black;
    background:white;
    border-radius:400px!important;
}

.sss{
    
    border: 1px solid black;
    background:white;
    border-radius:40px!important;
    padding-left: 100px;
    
    padding-right: 100px;
}