body{
    background: whitesmoke;
}

.container{
    background:white;
}

.table {
    
    border: 1px solid black;
    background:white;
    border-radius:400px!important;
    margin-top: 1rem;
}

.table-cont{
    border: 1px solid black;
    background:white;
    border-radius:40px !important;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.centerText {

    
    justify-content: center;
}