body{
    background: whitesmoke;
}

.container{
    background:white;
    border-radius : 50px;
    padding-bottom: 1px;
    margin-bottom: 1rem;
}

.table {
    
    background:white;
    border-radius : 50px;
  padding : 1px;
    
    margin-top: 1rem;
}



.centerText {

    
    justify-content: center;
}

